@font-face {
  font-family: "Tilda Sans";
  src: url("../fonts/TildaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tilda Sans";
  src: url("../fonts/TildaSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Tilda Sans";
  src: url("../fonts/TildaSans-Semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Tilda Sans";
  src: url("../fonts/TildaSans-Light.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Tilda Sans";
  src: url("../fonts/TildaSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Tilda Sans";
  src: url("../fonts/TildaSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Tilda Sans";
  src: url("../fonts/TildaSans-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
/* Применение шрифта ко всему сайту */
body {
  font-family: "Tilda Sans", sans-serif;
}
